.nav-item {
  position: relative;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 10;
}

.nav-link::after {
  position: absolute;
  right: 0;
  content: '';
  height: 140%;
  width: 0;
  background: #dce8f6;
  border-right: 0px solid #175fbd;
  border-radius: 12px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: -10;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.nav-link.active::after {
  position: absolute;
  right: 0;
  content: '';
  height: 140%;
  border-right: 12px solid #175fbd;
  border-radius: 12px;
  z-index: -10;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.nav-link:hover::after {
  width: 100%;
  transform: translateX(-3%);
  border-right: 12px solid #175fbd;
}
