@import 'tailwindcss';

body {
  padding: 30px;
  height: 100vh;
  overflow-y: hidden;
  background: linear-gradient(232deg, #4c86e6, #2a33b4);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1), inset 0 0 20px 10px rgba(255, 255, 255, 1);
  position: relative;
  overflow: hidden;
}

.glass::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
}

.glass::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}

.card-styles {
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #f3f3f3;
  -webkit-box-shadow: 12px 12px 15px #cfcfcf, -12px -12px 15px #ffffff;
  box-shadow: 12px 12px 15px #cfcfcf, -12px -12px 15px #ffffff;
}
